{% extends "site_base.html" %}

{% block head_title %}BrowserShots - Pricing{% endblock %}

{% block viewport %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <meta name="keywords" content="browsershots prices, browser testing prices, free mobile screen shots, cheap pricing cell phone screenshots, cross platform, compatability, android phones, iphones" />           
            <meta name="description" content="Browsershots offers 2 PRIVATE pricing plans: FREE plan, made to order.  Take full length screenshots of any webpage fast!" />
{% endblock %}

{% block extra_head %}
<h1>BrowserShots - Pricing</h1>
<br />   
All FREE accounts are limited to 25 screenshots per day.
<br />
If you need to increase your daily screen shot limit email me with the following information:
<br />
[1] Your Name / Organization
<br />
[2] Domain Name(s) being used for screenshots
<br />
[3] Rough Estimate of screenshots needed each day
<br />
<br />
I will then construct a fair monthly pricing plan to fit your needs.
<br />
<br />
<br />
<br />
Thank You,
<br />
<br />
Steven Hrisak
<br />
Programmer/Owner
<br />
support@browsershots.net
<br />
{% endblock %}                       	

